.card-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 70px;
  width: 100%;
  min-height: 100vh;
  //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  //   transition: all 0.3s ease-in-out;

  .card-img {
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }

  .card-body {
    padding: 1rem;
    // background-color: #fff;
    border-radius: 5px;
    padding: 3rem 0;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 0.3rem;
    }

    .card-content {
      display: flex;
      gap: 30px;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.cta {
  margin: 2rem 0;
}
